<form  [formGroup]="data.form" (ngSubmit)="onSubmitForm()">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity" aria-hidden="true"></div>
  
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full">
      <div class="modal-header">
        <h4 class="text-sm font-medium text-gray-500 uppercase tracking-wider">{{data.modalTitle}}</h4>
      </div>
  
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class=" grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3" *ngFor="let item of data.formRules;let i = index">
            <label for="first_name" class="block text-sm font-medium text-gray-700" >
              {{item.label}}
            </label>
  
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              </div>
         <input *ngIf="item.typeForm == 'input'" [type]="item.typeInput" [formControlName]="item.formControl" 
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"  [placeholder]="item.placeholder"
              [ngClass]="submitted && data.form.get(item.formControl).invalid  ? 'border-red-600' : ''">
              <span *ngIf="submitted && data.form.get(item.formControl).invalid"  class="mt-2 text-sm text-red-600" >{{item.errorText}}</span>

              <select [id]="item.formControl+i"  *ngIf="item.typeForm == 'select'" (change)="addValueToSelect($event.target.value,item.formControl,item.option,item.formControl+i,item.keyOption ? true : false)"  
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                <option value="" disabled selected>{{item.placeholder}}</option>
                <option *ngFor="let option of item.option" class="text-gray-700" [value]="item.keyOption ? option.id : option">
                    {{item.keyOption ? option[item.keyOption] : option}}
                </option>
              </select>

              <div *ngIf="item.typeForm == 'select' && data.form.get(item.formControl).value.length > 0"
                 class="my-2 p-1 flex border border-gray-200 bg-white rounded svelte-1l8159u">
                <div class="flex flex-auto flex-wrap">
                    <div *ngFor="let selectedItem of data.form.get(item.formControl).value; let i = index"
                     class="flex justify-center items-center m-1 font-medium py-1 px-2 cursor-pointer
                       rounded-full border text-blue-700 bg-blue-100  border-blue-300
                       hover:text-red-700 hover:bg-red-100 hover:border-red-300">
                        <div class="text-xs font-normal leading-none max-w-full flex-initial">{{item.keyOption ? selectedItem[item.keyOption] : selectedItem}} </div>
                        <div class="flex flex-auto flex-row-reverse">
                            <div (click)="removeValueFromSelect(selectedItem,item.formControl,item.keyOption ? true : false)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                class="feather feather-x hover:rotate-90 transition-transform duration-300 rounded-full w-4 h-4 ml-2">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <select *ngIf="item.typeForm == 'dropdown'"  [formControlName]="item.formControl" 
            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
              <option [value]="null" disabled selected>{{item.placeholder}}</option>
              <option *ngFor="let option of item.option" class="text-gray-700" [value]="item.keyOption ? option.id : option">
                  {{item.keyOption ? option[item.keyOption] : option}}
              </option>
            </select>
            </div>
  
          </div>
      </div>
      </div>
      <div class="bg-gray-100 px-4 py-3 flex justify-between">
  
        <button (click)="close()" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Annuler
        </button>
        <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2  bg-indigo-600 hover:bg-indigo-700
        text-base font-medium text-white sm:ml-3 sm:w-auto sm:text-sm">
          Valider
        </button>
  
      </div>
    </div>
  
    </form>
  
